*.config.json
*.log
*.orig
*.pid
*.seed
*.sublime-workspace
*.suo
*.swagger.yaml
*.user
*.zip
*_NCrunch*
*_ReSharper*
.env
.grunt
.lock-wscript
build/Release
config.env.*
coverage
dist
lib-cov
logs
node_modules
pids
